.fl-icon-box-vc{
  // Style One
  &.icon-box-style-one{
      .icon-box-icon-wrap{
        margin-bottom: 22px;
        i{
          display: flex;
          font-size: 50px;
        }
      }
      .icon-box-title{
        color: #222222;
        font-size: 22px;
        margin-bottom: 14px;
        transition: .3s ease;
      }
      .icon-box-text-content{
        margin-bottom: 40px;
      }
      .icon-box-btn{
        transition: .3s ease;
        width: 50px;
        height: 50px;
        box-shadow: 0 0 34px 6px rgba(0, 0, 0, 0.07);
        border-radius: 25px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        color: #222222;
        position: relative;
        overflow: hidden;
        z-index: 2;
        &:after{
          content: "";
          display: block;
          height: 100%;
          position: absolute;
          top: 0;
          width: 140%;
          left: -20%;
          z-index: -1;
          transform-origin: 0 50%;
          transform: skew(-15deg) scaleX(0);
          transition: transform .6s ease, -webkit-transform .6s ease;
        }
        &:before{
          background: #fff;
          content: "";
          display: block;
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          z-index: -2;
        }
        i{
          transition: .3s ease;
          font-size: 14px;
        }
      }
    &:hover{
      .icon-box-title{
        transition: .3s ease;
      }
      .icon-box-btn{
        transition: .3s ease;
          i{
            transition: .3s ease;
            color: #fff;
          }
        &:after{
          transform: skew(-15deg) scaleX(1);
        }
      }
    }
    &.colored-btn{
      .icon-box-btn{
        i{
          color: #fff;
        }
        &:after{
          transform: skew(-15deg) scaleX(1);
        }
        &:hover{
          i{
            //color: #222222;
          }
          &:after{
            transform-origin: right;
            transform: skew(-15deg) scaleX(0);
          }
        }
      }
    }
  }
  // Style Two
  &.icon-box-style-two{
    .icon-box-inner-wrap{
      text-align: center;
      padding: 50px 40px 0 40px;
      box-shadow: 0 0 34px 6px rgba(0, 0, 0, 0.07);
      border-radius: 10px;
      background-color: #ffffff;
      transition: .4s ease;
      .icon-box-icon-wrap{
        margin-bottom: 40px;
        position: relative;
        .svg-bg-content{
          height: 130px;
          display: flex;
          align-items: center;
          justify-content: center;
          svg{
            path{
              transition: .4s ease;
            }
          }
        }
        i{
          position: absolute;
          top: 50%;
          left: 50%;
          z-index: 99;
          transform: translate3d(-50%,-50%,0);
          font-size: 50px;
        }
      }
      .icon-box-title{
        transition:.4s ease;
        color: #222222;
        font-size: 22px;
        margin-bottom: 15px;
      }
      .icon-box-text-content{
        transition:.4s ease;
        margin-bottom: 0;
      }
      .icon-box-btn{
        transform: translateY(20px);
        visibility: hidden;
        opacity: 0;
        top: 25px;
        transition: .3s ease;
        width: 50px;
        height: 50px;
        box-shadow: 0 0 34px 6px rgba(0, 0, 0, 0.07);
        border-radius: 25px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        color: #222222;
        position: relative;
        overflow: hidden;
        z-index: 2;
        &:after{
          content: "";
          display: block;
          height: 100%;
          position: absolute;
          top: 0;
          width: 140%;
          left: -20%;
          z-index: -1;
          transform-origin:right;
          transform: skew(-15deg) scaleX(0);
          transition: transform .6s ease, -webkit-transform .6s ease;
        }
        &:before{
          background: #fff;
          content: "";
          display: block;
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          z-index: -2;
        }
        i{
          transition: .3s ease;
          font-size: 14px;
        }
        &:hover{
          i{
            color: #fff;
          }
          &:after{
            transform-origin: left;
            transform: skew(-15deg) scaleX(1);
          }
        }
      }
    }
    &:hover{
      .icon-box-inner-wrap {
        transition: .4s ease;
      }
      .icon-box-btn{
        visibility: visible;
        opacity: 1;
        transform: translateY(0);
        &:hover{
        }
      }
      .icon-box-icon-wrap{
        .svg-bg-content{
          svg{
            path{
              transition: fill .4s ease;
              fill: #fff;
            }
          }
        }
      }
      .icon-box-title{
        color: #fff;
        transition:.4s ease;
      }
      .icon-box-text-content{
        color: #fff;
        transition:.4s ease;
      }
    }
  }
  // Style Three
  &.icon-box-style-three{
    text-align: center;
    .icon-box-icon-wrap{
      margin-bottom: 22px;
      i{
        font-size: 50px;
      }
    }
    .icon-box-title{
      color: #222222;
      font-size: 24px;
      margin-bottom: 14px;
      transition: .3s ease;
    }
    .icon-box-text-content{
      margin-bottom: 40px;
    }
    .icon-box-btn{
      transition: .3s ease;
      width: 50px;
      height: 50px;
      box-shadow: 0 0 34px 6px rgba(0, 0, 0, 0.07);
      border-radius: 25px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      color: #222222;
      position: relative;
      overflow: hidden;
      z-index: 2;
      &:after{
        content: "";
        display: block;
        height: 100%;
        position: absolute;
        top: 0;
        width: 140%;
        left: -20%;
        z-index: -1;
        transform-origin: left;
        transform: skew(-15deg) scaleX(0);
        transition: transform .6s ease, -webkit-transform .6s ease;
      }
      &:before{
        background: #fff;
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -2;
      }
      i{
        transition: .3s ease;
        font-size: 14px;
      }
    }
    &:hover{
      .icon-box-title{
        transition: .3s ease;
      }
      .icon-box-btn{
        transition: .3s ease;
        i{
          transition: .3s ease;
          color: #fff;
        }
        &:after{
          transform: skew(-15deg) scaleX(1);
        }
        &:hover{
          i{
            color: #222222;
          }
          &:after{
            transform-origin: right;
            transform: skew(-15deg) scaleX(0);
          }
        }
      }
    }
    &.colored-btn{
      .icon-box-btn{
        i{
          color: #fff;
        }
        &:after{
          transform: skew(-15deg) scaleX(1);
        }
        &:hover{
          &:hover{
            i{
              color: #222222;
            }
            &:after{
              transform-origin: right;
              transform: skew(-15deg) scaleX(0);
            }
          }
        }
      }
    }
  }
  // Style Four
  &.icon-box-style-four{
    .icon-box-wrap{
      box-shadow: 0 0 34px 6px rgba(0, 0, 0, 0.07);
      border-radius: 10px;
      background-color: #ffffff;
      padding: 35px 50px;
      display: flex;
      .icon-box-icon-wrap{
        flex-grow: 0;
        margin-right: 25px;
        margin-top: 7px;
        i{
          font-size: 50px;
        }
      }
      .icon-right-content{
        flex-grow: 1;
        .icon-box-title{
          color: #222222;
          font-size: 22px;
          margin-bottom: 5px;
        }
        .icon-box-text-content{
          line-height: 28px;
          a{
            color: inherit;
            transition: .3s ease;
            &:hover{
              transition: .3s ease;
            }
          }
        }
      }
    }
  }
  // Style Five
  &.icon-box-style-five{
    .icon-box-inner-wrap{
      text-align: center;
      .icon-box-icon-wrap{
        margin-bottom: 40px;
        position: relative;
        .svg-bg-content{
          height: 130px;
          display: flex;
          align-items: center;
          justify-content: center;
          svg{
            path{
              transition: .4s ease;
            }
          }
        }
        i{
          position: absolute;
          top: 50%;
          left: 50%;
          z-index: 99;
          transform: translate3d(-50%,-50%,0);
          font-size: 50px;
        }
      }
      .icon-box-title{
        transition:.4s ease;
        color: #222222;
        font-size: 22px;
        margin-bottom: 15px;
      }
      .icon-box-text-content{
        transition:.4s ease;
        margin-bottom: 10px;
      }
      .icon-box-btn{
        cursor: pointer;
        top: 25px;
        transition: .3s ease;
        width: 50px;
        height: 50px;
        box-shadow: 0 0 34px 6px rgba(0, 0, 0, 0.07);
        border-radius: 25px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        color: #222222;
        position: relative;
        overflow: hidden;
        z-index: 2;
        &:after{
          content: "";
          display: block;
          height: 100%;
          position: absolute;
          top: 0;
          width: 140%;
          left: -20%;
          z-index: -1;
          transform-origin: right;
          transform: skew(-15deg) scaleX(0);
          transition: transform .6s ease, -webkit-transform .6s ease;
        }
        &:before{
          background: #fff;
          content: "";
          display: block;
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          z-index: -2;
        }
        i{
          transition: .3s ease;
          font-size: 14px;
        }
        &:hover{
          i{
            color: #fff;
            transition: .3s ease;
          }
          &:after{
            transform-origin: left;
            transform: skew(-15deg) scaleX(1);
          }
        }
      }
    }
  }
}