.fl-vc-custom-title-container{

  .sub-title-wrap{
    .fl-subtitle-vc{
      border-radius: 12.5px;
      padding: 8px 25px;
      display: inline-flex;
      text-transform: uppercase;
      font-size: 12px;
      line-height: 1;
      margin-bottom: 20px;
    }
  }
}