.grid-style-product{
  transition: .3s opacity;
  &.loading{
	transition: .3s opacity;
	opacity: .8;
  }
	&.grid{
	  .active-list{
		display: none;
		opacity: 0;
		visibility: hidden;
		transition: .3s opacity, .3s visibility;
	  }
  		.active-grid{
		  display: block;
		  opacity: 1;
		  visibility: visible;
		  transition: .3s opacity, .3s visibility;
		}
	}
  &.list{
	.active-grid{
	  display: none;
	  opacity: 0;
	  visibility: hidden;
	  transition: .3s opacity, .3s visibility;
	}
	.active-list{
	  display: block;
	  opacity: 1;
	  visibility: visible;
	  transition: .3s opacity, .3s visibility;
	}
  }
  .active-list{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 500px;
	height: 600px;
	background: #f14088;
  }
  .active-grid{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 900px;
	height: 600px;
	background: #1f1f1f;
  }
}