// Default Pagination
.fl-default-pagination{
	margin-top: 50px;
	justify-content: center;
	padding: 0 15px;
  .page-numbers{
	cursor: pointer;
	margin-right: 10px;
	font-size: 16px;
	width: 40px;
	height: 40px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	line-height: 1;
	border: 1px solid #ddd;
	color: #222;
	transition: .3s ease;
	&:hover{
		transition: .3s ease;
	}
	&:last-child{
	  margin-right: 0;
	  padding-left: 0;
	}
	  &.current,&:hover{
		  background: #e2b71c;
		  color: #fff;
		  border-color: #e2b71c;
	  }
  }
}
// Load more pagination
.fl-blog-post-pagination{
	margin-top: 50px;
}


// Post inner Pagination
.post-inner-pagination,.page-inner-pagination{
	padding-top: 25px;
	.pagination-text{
		color: #222222;
		margin-right: 5px;
	}
	.post-page-numbers{
		height: 40px;
		display: inline-flex;
		align-items: center;
		border: 1px solid #ddd;
		line-height: 1;
		width: 40px;
		transition: .3s ease;
		cursor: pointer;
		margin-right: 10px;
		font-size: 16px;
		justify-content: center;
		color: #222;
		&.current{
			color: #fff;
		}

	}
}
