/*-------------------------------------------------------------------

==  Sidebar

-------------------------------------------------------------------*/
.sidebar{
		&:not(.cars-sidebar){
		.widget{
			margin-top: 30px;
			padding: 30px 25px;
			position: relative;
			font-size: 13px;
			&:after{
				position: absolute;
				top: 5px;
				right: 5px;
				display: block;
				border-width: 7px;
				border-style: solid;
				border-left-color: transparent;
				border-bottom-color: transparent;
				content: '';
			}
			&:first-child{
				margin-top: 0;
			}
			.widget-title {
				position: relative;
				overflow: hidden;
				font-size: 16px;
				color: #222222;
				display: flex;
				align-items: center;
				margin-bottom: 25px;
				text-transform: uppercase;
				.sidebar-logotype{
					height: auto;
					margin-right: 10px;
				}
			}

			a{
				color: #222222;
				transition: .3s ease;
				&:hover{
					transition: .3s ease;
				}
			}

			select{
				cursor: pointer;
				border-color: transparent;
				border-radius: 0;
				margin-bottom: 0!important;
				&:hover{
					box-shadow: 0 8px 22px 0 rgba(0,0,0,.1)!important;
					transition: .3s ease;
					background: #fff!important;
				}
			}

		}

		/*-------------------------------------------------------------------

		==  Auto Widget

		-------------------------------------------------------------------*/
		/*-------------------------------------------------------------------

		==  Car Price

		-------------------------------------------------------------------*/
		@import "old_css/widget/widget_car-price";
		/*-------------------------------------------------------------------

		==  Dealer Info

		-------------------------------------------------------------------*/
		@import "old_css/widget/widget_dealer-info";
		/*-------------------------------------------------------------------

		==  Promo Image

		-------------------------------------------------------------------*/
		@import "old_css/widget/widget_promo-image";
		/*-------------------------------------------------------------------

		==  Calculator

		-------------------------------------------------------------------*/
		@import "old_css/widget/widget_calculator";
		/*-------------------------------------------------------------------

		==  Popular Posts

		-------------------------------------------------------------------*/
		@import "old_css/widget/widget_popular-posts";
		/*-------------------------------------------------------------------

		==  Login Form

		-------------------------------------------------------------------*/
		 @import "old_css/widget/widget_login_form";

		// Standard Widget
		/*-------------------------------------------------------------------

		==  Archive

		-------------------------------------------------------------------*/
		@import "old_css/widget_default/widget_archive";
		/*-------------------------------------------------------------------

		==  Archive

		-------------------------------------------------------------------*/
		@import "old_css/widget_default/widget_calendar";
		/*-------------------------------------------------------------------

		==  Tags

		-------------------------------------------------------------------*/
		@import "old_css/widget_default/widget_tag";
		/*-------------------------------------------------------------------

		==  Category

		-------------------------------------------------------------------*/
		@import "old_css/widget_default/widget_category";
		/*-------------------------------------------------------------------

		==  Pages

		-------------------------------------------------------------------*/
		@import "old_css/widget_default/widget_pages";
		/*-------------------------------------------------------------------

		==  Meta

		-------------------------------------------------------------------*/
		@import "old_css/widget_default/widget_meta";
		/*-------------------------------------------------------------------

		==  Recent Comments

		-------------------------------------------------------------------*/
		@import "old_css/widget_default/widget_recent_comments";
		/*-------------------------------------------------------------------

		==  RSS

		-------------------------------------------------------------------*/
		@import "old_css/widget_default/widget_rss";
		/*-------------------------------------------------------------------

		==  Search

		-------------------------------------------------------------------*/
		@import "old_css/widget_default/widget_search";
		/*-------------------------------------------------------------------

		==  Nav Menu

		-------------------------------------------------------------------*/
		@import "old_css/widget_default/widget_nav_menu";
		/*-------------------------------------------------------------------

		==  Nav Menu

		-------------------------------------------------------------------*/
		@import "old_css/widget_default/widget_recent_entries";
		/*-------------------------------------------------------------------

        ==  Booking Auto

        -------------------------------------------------------------------*/
		@import "old_css/widget/_widget_booking_auto";

	}

}


