.widget_text{
  strong{
    color: #222222;
  }
  .wp-caption{
    margin-bottom: 15px;
    p{
      margin-top: 10px;
      margin-bottom: 0;
    }
    .wp-caption-text{
      text-align: center;
    }
  }
}