.widget_tag_cloud{
  .tagcloud{
    a{
      border-radius: 5px;
      line-height: 1;
      font-size: 12px!important;
      padding: 10px 24px;
      margin-right: 7px;
      margin-bottom: 7px;
      display: inline-flex;
      &:hover{
        color: #fff;
        transition: all .3s ease;
        box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.5);
        transform: perspective(100px) translateY(-2px);
        z-index: 1;
      }
    }
  }
}