.widget_categories{
	ul{
		list-style: none;
		margin: 0;
		li{
			position: relative;
			padding-bottom: 3px;
			margin-bottom: 10px;
			border-bottom: 1px solid #dddddd;
			a{
				font-size: 12px;
				line-height: 1;
			}
			span{
				color: #666;
				position: absolute;
				top: 0;
				right: 0;
				font-size: 12px;
				line-height: 25px;
			}
			&:last-child{
				padding-bottom: 0;
				border-bottom: none;
			}
			&.has-sub-category{
				>ul.children{
					padding-top: 5px;
					margin-top: 5px;
					border-top: 1px solid #dddddd;
					 >li{
						 &:before{
							 color: inherit;
							 transition: .3s ease;
							 content: '-';
							 margin-right: 4px;
						 }
						 &:last-child{
							 margin-bottom: 3px;
						 }
						 ul.children{
							 li{
								 &:before{
									 content: '--';
								 }
								 ul.children{
									 li{
										 &:before{
											 font-size: 17px;
											 content: '---';
										 }
									 }
								 }
							 }
						 }
					 }

				}
			}
		}
	}
}