/*-------------------------------------------------------------------

==  Sidebar

-------------------------------------------------------------------*/
.sidebar{
  font-size: 15px;
		.widget{
          a{
            color: inherit;
            transition: .3s ease;
            &:hover{
              transition: .3s ease;
            }
          }
          margin-bottom: 50px;
          &:last-child{
            margin-bottom: 0;
          }
          ul{
            display: block;
            width: 100%;
          }
          >ul{

            margin: 0;
            padding: 0;
            list-style: none;
            li{
              display: flex;
              flex-wrap: wrap;
              align-items: center;
              position: relative;
              margin: 0;
              padding: 0;
              padding-top: 5px;
              padding-bottom: 5px;
              list-style: none;

              &:last-child{
                padding-bottom: 0;
              }
            }
          }
}

/*-------------------------------------------------------------------

==  Widget About Us

-------------------------------------------------------------------*/
	@import 'widget/_about_us';

/*-------------------------------------------------------------------

==  Search

-------------------------------------------------------------------*/
  @import 'widget/_search';

/*-------------------------------------------------------------------

==  Category

-------------------------------------------------------------------*/
  @import 'widget/_category';

/*-------------------------------------------------------------------

==  Popular Post

-------------------------------------------------------------------*/
  @import 'widget/_popular_post';

/*-------------------------------------------------------------------

==  Popular Post

-------------------------------------------------------------------*/
  @import 'widget/_tags';

/*-------------------------------------------------------------------

==  Archive

-------------------------------------------------------------------*/
  @import 'widget/_archive';
/*-------------------------------------------------------------------

==  Calendar

-------------------------------------------------------------------*/
  @import 'widget/_calendar';

/*-------------------------------------------------------------------

==  Pages

-------------------------------------------------------------------*/
  @import 'widget/_pages';

/*-------------------------------------------------------------------

==  Recent Comments

-------------------------------------------------------------------*/
  @import 'widget/_recent_comments';

/*-------------------------------------------------------------------

==  RSS

-------------------------------------------------------------------*/
  @import 'widget/_rss';

/*-------------------------------------------------------------------

==  RSS

-------------------------------------------------------------------*/
  @import 'widget/_nav_menu';

/*-------------------------------------------------------------------

==  Other Style

-------------------------------------------------------------------*/
  @import 'widget/_other_style';


}


