.widget_recent_entries{
  ul{

	list-style: none;
	margin: 0;
	padding: 0;
	li{
	  position: relative;
		padding-top: 9px;
	  margin: 0 0 8px 0;
	  a{
		display: block;
		line-height: 20px;
	  }
	  span{
		position: absolute;
		top: 3px;
		right: 0;
		font-size: 12px;
		line-height: 20px;
	  }

	  &:before{
		content: "";
	  }
		&:first-child{
			padding-top: 0;
		}
	}
  }
}